.login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    max-width: 580px;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 128px;
}

.login-section__login-part {
    width: 100%;
    background-color: var(--bg-alt);
    border: 1px solid var(--accent);
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 0 15px rgba(255, 204, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.login-section__login-part h2 {
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: 1rem;
    text-align: center;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.login-form input {
    background-color: var(--bg-card);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    color: var(--text-main);
    height: 40px;
    font-size: 1rem;
    font-family: var(--font-text);
    transition: border 0.4s ease;
}

.login-form input:focus {
    border-color: var(--accent);
    outline: none;
}

.login-form button {
    align-self: center;
    margin-top: 64px;
}

.messages {
    list-style-type: none;
    padding: 0;
    margin-bottom: 1rem;
    width: 100%;
}

.messages li {
    padding: 0.8rem 1rem;
    border-radius: 5px;
    font-size: 0.95rem;
    text-align: center;
}

.messages .success {
    background-color: var(--green);
    color: white;
}

.messages .error {
    background-color: var(--red);
    color: white;
}

.login-section__register-part {
    font-family: var(--font-text);
    color: var(--text-main);
    font-size: 0.95rem;
    text-align: center;
    width: 100%;
}

.login-section__register-part .book-style {
    background-color: var(--bg-alt);
    background-image: var(--texture-leather);
    border: 1px solid var(--bg-alt);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0 2rem;
}

.books-pile {
    min-width: 80%;
}

.book-style {
    width: 100%;
}

.book-style__leather-line {
    width: 16px;
    min-height: 100%;
    background-color: var(--bg-book);
    background-image: var(--texture-leather);
}

.book-style__placeholder{
    width: 180px;
    padding: 0.5rem;
}

.shelf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: last baseline;
    gap: 1rem;
    padding: 8px 2rem;
    position: relative;
    margin-top: 2rem;
}

.shelf::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: linear-gradient(to bottom, #5e3c2b, #3e2a1d);
    border-top: 2px solid #c49a6c;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
  

