.login-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-section__login-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px; 
    background-color: #130241;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    input {
        width: 100%;
    }
}