/* ======= BASE ======= */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: var(--bg-main);
    color: var(--text-main);
    font-family: var(--font-text);
    font-size: 16px;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* ===== TYPO ====== */
h1, h2, h3, h4 {
    font-family: var(--font-serif);
    color: var(--title-color);
    margin-bottom: 0.6em;
    line-height: 1.2;
}

a {
    color: var(--link);
    text-decoration: none;
    transition: color 0.3s ease;
}

p {
    margin: 0;
}

/* ====== MAIN ===== */
.main {
    display: flex;
    padding: 80px 2rem 0 2rem;
    width: 100%;
    min-height: calc(100vh - 80px);
}

.main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-grow: 1;
}

/* ===== DECO ===== */

.deco-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:last baseline;
    justify-content: space-evenly;
}

/* ====== FOOTER ====== */
.footer {
    background-color: var(--bg-card);
    color: var(--text-muted);
    text-align: center;
    padding: 2rem 1rem;
    border-top: 1px solid var(--border-color);
    font-size: 0.9rem;
    width: 100%;
    height: 120px;
}

/* ====== BOUTONS ====== */
.btn {
    display: inline-block;
    padding: 0.7rem 1.4rem;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-primary {
    background-color: var(--link);
    color: var(--text-main);
    text-decoration: none;
}

.btn-secondary {
    background-color: var(--link-2);
    color: var(--text-main);
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #4a9ee6;
    text-decoration: none;
}

.btn-secondary:hover {
    background-color: var(--accent);
    text-decoration: none;
}

.btn-success {
    background-color: var(--green);
    color: white;
}

.btn-danger {
    background-color: var(--red2);
    color: white;
}

.btn-danger:hover {
    background-color: var(--red);
}

/* ==== FORMULAIRES ==== */
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    width: 100%;
    height: 32px;
    background-color: var(--bg-alt);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    color: var(--text-main);
    font-family: var(--font-text);
    text-align: center;
}

input[type="file"] {
    margin-top: 0.5rem;
    color: var(--text-main);
}


  
@media (min-width: 1024px) {
    .main {
        align-items: stretch;
        padding: 80px 2rem 0 2rem;
        width: 100%;
    }

    .column {
        flex-shrink: 0;
        width: 64px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}