{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/flux/flux.css' %}">
{% endblock %}


{% block content %}
<section class="flux-section">
    <h2 class="flux-section__title">Flux d'activités</h2>

    <div class="flux-session__create-buttons-container">
        <a href="{% url 'ticket_create' %}" class="create-buttons">Créer un ticket</a>
        <a href="{% url 'ticket_and_review_create' %}" class="create-buttons">Créer un ticket et une critique</a>
    </div>

    {% for post in posts %}
        {% if post.content_type == "TICKET" %}
            {% include "flux/snippets/ticket_card.html" %}
        {% elif post.content_type == "REVIEW" %}
            {% include "flux/snippets/review_card.html" %}
        {% endif %}
    {% endfor %}
</section>
{% endblock %}
