<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}LITRevu - Observatoire{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=Merriweather&display=swap" rel="stylesheet">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}?v={{ timestamp }}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/variables.css' %}?v={{ timestamp }}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}?v={{ timestamp }}">
        {% block extra_css %}{% endblock %}
    </head>

    <body class="theme-dark">
        <header class="header">
            <div class="header__content">
                <h1 class="header__title">LITRevu</h1>

                {% if user.is_authenticated %}
                <nav class="nav">
                <button class="nav__toggle" aria-label="Ouvrir la navigation">
                    ☰
                </button>
                <ul class="nav__menu">
                    <li><a href="{% url 'home' %}">Flux</a></li>
                    <li><a href="{% url 'self_posts' %}">Posts</a></li>
                    <li><a href="{% url 'subscriptions' %}">Abonnements</a></li>
                    <li><a href="{% url 'logout' %}">Déconnexion</a></li>
                </ul>
                </nav>
                {% endif %}
            </div>
        </header>

        <main class="main">
        <section class="main__content">
            {% block content %}{% endblock %}
        </section>
        </main>

        <footer class="footer">
        <p>&copy; 2025 LITRevu. Tous droits réservés.</p>
        </footer>
    </body>
</html>
