<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}LITRevu - Observatoire{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=Merriweather&display=swap" rel="stylesheet">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}?v={{ timestamp }}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/variables.css' %}?v={{ timestamp }}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}?v={{ timestamp }}">
        {% block extra_css %}{% endblock %}
    </head>

    <script>
        // Disparition automatique des messages d'erreur
        document.addEventListener("DOMContentLoaded", function () {
            const messages = document.querySelectorAll(".messages li");
    
            messages.forEach((message) => {
                
                setTimeout(() => {
                    message.style.opacity = "0";
    
                    setTimeout(() => {
                        message.remove();
                    }, 500);
                }, 3000); 
            });
        });
    </script>

    <body class="theme-dark">
        {% include "components/header.html" %}

        <main class="main">
            {% include "components/column.html" %}

            <section class="main__content">
                {% include "components/messages.html" %}
                {% block content %}{% endblock %}

                <section class="deco-section">
                    {% include "components/gyroscope.html" %}
                    {% include "components/candle.html" %}
                </section>
            </section>

            {% include "components/column.html" %}
        </main>

        <footer class="footer">
        <p>&copy; 2025 LITRevu. Tous droits réservés.</p>
        </footer>
    </body>
</html>
