<div class="form-group">
    {{ ticket_form.book_title.label_tag }}
    {{ ticket_form.book_title }}
</div>

<div class="form-group">
    {{ ticket_form.description.label_tag }}
    {{ ticket_form.description }}
</div>

<div class="form-group">
    {{ ticket_form.image.label_tag }}
    <div id="image-preview-container" style="margin-top: 10px;">
        {% if ticket.image %}
            <img id="image-preview" src="{{ ticket.image.url }}" alt="Image sélectionnée" style="max-width: 300px; height: auto;">
        {% else %}
            <img id="image-preview" style="display: none; max-width: 300px; height: auto;">
        {% endif %}
    </div>
    <label for="id_image" class="btn btn-secondary">Télécharger fichier</label>
    {{ ticket_form.image }}
</div>

<!-- Petit script JS pour afficher l'image choisi-->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const imageInput = document.querySelector("#id_image");
        const previewContainer = document.querySelector("#image-preview-container");
        const previewImage = document.querySelector("#image-preview");

        imageInput.addEventListener("change", function(event) {
            const file = event.target.files[0];

            if (file) {
                const reader = new FileReader();

                reader.onload = function(e) {
                    previewImage.src = e.target.result;
                    previewImage.style.display = "block";
                };

                reader.readAsDataURL(file);
            } else {
                previewImage.style.display = "none";
            }
        });
    });
</script>