{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>{{ form_title }}</h2> 

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>

        <div class="form-group">
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>

        <div class="form-group">
            {{ form.image.label_tag }}
            <div id="image-preview-container" style="margin-top: 10px;">
                {% if ticket.image %}
                    <img id="image-preview" src="{{ ticket.image.url }}" alt="Image sélectionnée" style="max-width: 300px; height: auto;">
                {% else %}
                    <img id="image-preview" style="display: none; max-width: 300px; height: auto;">
                {% endif %}
            </div>
            <label for="id_image" class="btn btn-secondary">Télécharger fichier</label>
            {{ form.image }}
        </div>

        <button type="submit" class="btn btn-primary">{{ submit_text }}</button>  

    <a href="{% url 'home' %}" class="btn btn-secondary mt-2">Annuler</a>
</div>

<!-- Petit script JS pour afficher l'image choisi-->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const imageInput = document.querySelector("#id_image");
        const previewContainer = document.querySelector("#image-preview-container");
        const previewImage = document.querySelector("#image-preview");

        imageInput.addEventListener("change", function(event) {
            const file = event.target.files[0];

            if (file) {
                const reader = new FileReader();

                reader.onload = function(e) {
                    previewImage.src = e.target.result;
                    previewImage.style.display = "block";
                };

                reader.readAsDataURL(file);
            } else {
                previewImage.style.display = "none";
            }
        });
    });
</script>
{% endblock %}