{% load filters %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/tickets/snippets/review_form.css' %}">
{% endblock %}

<article class="review-form">
    <h3>Critique</h3>

    <div class="form-group">
        {{ review_form.title.label_tag|safe|cut:":" }}
        {{ review_form.title }}
    </div>

    <div class="form-group">
        <label for="rating">Note</label>
        {% include "tickets/snippets/star_rating.html" with rating_name="review-rating" %}
    </div>

    <div class="form-group">
        {{ review_form.description.label_tag|safe|cut:":" }}
        {{ review_form.description }}
    </div>
</article>