{% load filters %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/tickets/snippets/star_rating.css' %}">
{% endblock %}

<div class="star-rating">
  {% for i in rating_range %}
    <input
      type="radio"
      id="star{{ i }}"
      name="{{ review_form.rating.html_name }}"
      value="{{ i }}"
      {% if i == current_rating %}checked{% endif %}
    >
    <label for="star{{ i }}" title="{{ i }} étoiles" aria-label="{{ i }} étoiles">&#9733;</label>
  {% endfor %}
</div>
  