.delete-section {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    margin-bottom: 64px;
}

.delete-section h2 {
    align-self: center;
    margin-bottom: 2rem;
}

.card {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.delete-form {
    display: flex;
    gap: 1rem;
    align-self: flex-end;
}

.delete-form .btn-danger {
    order: 2;
}

.delete-form .btn-secondary {
    order: 1;
}