{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/users/login.css' %}">
{% endblock %}

{% block content %}
<section class="login-section">
    <section class="login-section__login-part">
        <h2>Connectez-vous</h2>

        <!-- Messages de succès et d'erreur -->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <!-- Formulaire -->
        <form class="login-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}  
            <button class="btn btn-primary" type="submit">Se connecter</button>
        </form>
    </section>

    <section class="login-section__register-part">
        <div class="book-style">
            <div class="book-style__leather-line"></div>
            <p>Inscrivez-vous maintenant</p>
            <div class="book-style__leather-line"></div>
        </div>

        <div class="book-style">
            <div class="book-style__leather-line"></div>
            <a class="btn btn-secondary" href="{% url 'register' %}">S'inscrire</a>
            <div class="book-style__leather-line"></div>
        </div>

        <div class="book-style">
            <div class="book-style__leather-line"></div>
            <p class="book-style__placeholder"></p>
            <div class="book-style__leather-line"></div>
        </div>
    </section>
</section>
{% endblock %}

