{% load filters %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/flux/snippets/review_card.css' %}">
{% endblock %}


<article class="review-card card">
    <div class="review-card__review-container">
        <div class="review-card__header card-header">
            {% if post.user == request.user %}
                <p class="posted-user">Vous avez posté une critique</p>
            {% else %}
                <p class="posted-user">{{ post.user }}</strong> a posté une critique</p>
            {% endif %}
                <p class="posted-time">{{ post.time_created|date:"H:i, j F Y" }}</p>
        </div>

        <div class="review-card__title-container">
            <h3 class="card-title">{{ post.review_title }}</h3>
            <span>-</span>
            <div class="card-rating">{{ post.rating|full_stars }}{{ post.rating|empty_stars }}</div>
        </div>

        <p class="card-text">{{ post.review }}</p>
    </div>

    <div class="review-card__ticket-container">
        {% if post.user == request.user %}
            <p class="review-card__ticket-posted-by">Ticket - Vous</p>
        {% else %}
            <p class="review-card__ticket-posted-by">Ticket - {{ post.user }}</p>
        {% endif %}

        <h4 class="review-card__ticket-title">{{post.ticket.book_title}}</h4>

        {% if post.ticket.image %}
        <div class="review-card__img-container">
            <img src="{{ post.ticket.image.url }}" class="img-fluid" alt="Image du ticket">
        </div>
        {% endif %}
    </div>

    {% if is_personal_view %}
    <div class="modify-buttons-container">
        <a href="{% url 'review_update' post.id %}" class="review-card__ticket-modify btn btn-primary">Modifier</a>
        <a href="{% url 'review_delete' post.id %}" class="review-card__ticket-delete btn btn-danger">Supprimer</a>
    </div>
    {% endif %}
</article>