{% load filters %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/flux/snippets/ticket_card.css' %}">
{% endblock %}

<article class="ticket-card card">
    <div class="ticket-card__header card-header">
        {% if ticket.user == request.user %}
            <p class="posted-user">Vous avez demandé une critique</p>
        {% else %}
            <p class="posted-user">{{ ticket.user }}</strong> a demandé une critique</p>
        {% endif %}
            <p class="posted-time">{{ ticket.time_created|date:"H:i, j F Y" }}</p>
    </div>

    <h3 class="ticket-card__title card-title">{{ ticket.title }}</h3>
    <p class="ticket-card__description">{{ ticket.description }}</p>

    {% if ticket.image %}
    <div class="ticket-card__img-container">
        <img src="{{ ticket.image.url }}" class="img-fluid" alt="Image du ticket">
    </div>
    {% endif %}

    {% if not ticket.reviews.exists and not is_personal_view and not include_ticket and not is_ticket %}
        <a href="{% url 'review_create' post.id %}" class="ticket-card__create-review btn btn-primary">Créer une critique</a>
    {% endif %}

    {% if is_personal_view %}
    <div class="modify-buttons-container">
        <a href="{% url 'ticket_update' post.id %}" class="ticket-card__modify btn btn-primary">Modifier</a>
        <a href="{% url 'ticket_delete' post.id %}" class="ticket-card__delete btn btn-danger">Supprimer</a>
    </div>
    {% endif %}
</article>